POSTGRES_USER=sclera
POSTGRES_PASSWORD=sclera123
POSTGRES_DB=vdms
PGADMIN_DEFAULT_EMAIL=admin@sclera.com
PGADMIN_DEFAULT_PASSWORD=admin123
DB_URL=jdbc:postgresql://postgres:5432/vdms
DB_USER=sclera
DB_PASS=sclera123
